<div class="page-header">
  <%= link_to pedidos_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_pedido_path(@pedido), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Mostrar pedido</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cliente:</dt>
  <dd><%= @pedido.cliente.nome %></dd>

  <dt>Valor total:</dt>
  <dd><%= "R$ #{@pedido.valor_total}" %></dd>

  <hr>

  <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Quantidade</th>
            <th>Produto</th>
            <th>Valor</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @pedido.pedido_produtos.each) do |pp| %>
            <td><%= pp.quantidade %></td>
            <td><%= pp.produto.nome %></td>
            <td><%= pp.valor %></td>
      <% end %>
    </tbody>
  </table>
</div>

</dl>
